body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: gray;
}

#canvas-wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#main-canvas {
  cursor: pointer !important;
}
